 *{ 
    padding: 0px;
     margin: 0px;
 } 
 
  .red-bg{ 
    height: 45px;
   background-color:red; 
    color: black;
 }
.black-bg{ 
    height:85px ; 
      background-color:  #fc791A;
 } 

 header {
     position: relative;
 }
 .sticky-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
 }
header .logo img {
     position: absolute;
     top: 0;
    left: 0;
    background-color:#ffffff;
    width: 190PX;
     height: 106PX;
    /* padding: 0PX 20PX 25PX 45PX; */
    padding: 12px;
} 
.time-box {
    display: flex;
    align-items: center;
    gap: 6px; 
    color: rgb(240, 232, 232);
    font-weight: bold;
    margin-left: 300px;
   padding: 15px; 
 }
.time{ 
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
} 
.template{ 
    height: 100px;
}
.link{
     color: rgb(158, 158, 44);
    padding-left: 310px;
    justify-items: center;
     justify-content: center;
    padding-top: 35px
 }
h3 a{
     color: azure;
    text-decoration: none; 
} 

 a:hover{ 
    /* color: rgb(241, 255, 47); */
    color: #440E03;
}
span:hover{
    background-color: red;
    color:red;
} 


.banner img{ 
    width: 100%;
    height: 600px;
    display: block;
}
 .style{ 
    margin-top: 50px; 
    align-items:center;
    text-align:center;
} 
.style2{
    display:inline-flex;
     gap:10px;
} 
    .fresheat-img{
     width:25px;
     transition: transform 0.3s ease; 
} 
.fresheat-text{ 
    color: #fc791A;
     transition: color 0.5s ease ;
    margin: 0;
    font-size: 26px;
    margin-bottom: 5px;
    text-transform: uppercase;
     font-weight: 700; 
}
#fresheat:hover .fresheat-text{
    color: red;
    font-size: 29px;
}
#fresheat:hover .fresheat-img {
    transform: scale(1.2);
} 

.food{
    margin-top: 30px;
    text-align: center;
    color: #010f1c; 
    font-size: 40px;
    visibility: visible;
    font-style: normal;
     font-weight: 900; 
    line-height: 50px;
    margin-bottom: 60px;
    text-transform: capitalize;
}
body{ 
     background-color:#f3ebeb;
}

.food-items{
    margin: 100px auto ;
     width: 90%;
     display: flex;
    overflow-x: auto; 
     
}
.food-items::-webkit-scrollbar{ 
     display: none;
}
.item{
     display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 1em; 
    animation: spin 9s infinite linear;
    padding-right: 1em; 
}
.item1{ 
    flex: 0 0 5em; 
    height: 5em;
    padding: 1em;
    background-color: rgb(247, 242, 242);
    font-size: 3rem;
    border-radius: .4em;
    text-align: center;
    align-content: center;
    color: #010f1c;
    line-height: 35px; 
 }
@keyframes spin {
    from{translate: 0;}
     to{translate: -100%;} 
}
.item1:hover{
    color: rgb(250, 218, 76);
 }
.text-1{ 
    color: #5c6574; 
    font-size: 18px;
     text-transform: capitalize;
} 
h6{
    color: red; 
    font-size: 35px ;
    margin-bottom: 40px; 
}

.banner {
    position: relative; 
    overflow: hidden;
    
}
.banner-text {
    position: absolute;
    bottom: 50%;
    white-space: nowrap;
    transform: translateY(50%);
    left: 100%;
    color: #fff;
    font-size: 40px; 
    opacity: 0; 
    text-transform: capitalize;
 }
 /* .banner-text:hover{
    color: rgb(3, 3, 28); 
 }  */
.text1 {
    animation: slide1 10s linear infinite;
 } 
.text2 { 
     animation: slide2 10s linear infinite;
}
@keyframes slide1 {
    0% { left: 100%; opacity: 1; }
    20% { left: 20px; opacity: 1; }
    50% { left: 20px; opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}
 @keyframes slide2 { 
    0% { opacity: 0; }
    50% { opacity: 0; left: 100%; } 
    70% { opacity: 1; left: 20px; }  
    100% { opacity: 1; left: 20px; } 
 } 
 .imgs { 
    margin-top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 10px;
    flex-wrap: wrap;
    margin-bottom: 130px;
}
.img-1 {
    width: 370px;
    min-width: 250px;
    min-height: 300px;
    display: flex;             
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
     background-image: url(offerBG1_1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 15px;
    border-radius: 0px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;  
}

.content-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    height: 100%;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    order: 1;
    text-align: left;
    flex: 1;
}

.main-img {
    width: 100%;
    max-width: 180px;
    height: auto;
    object-fit: cover;
    order: 2;
    flex-shrink: 0;
}

.text-box h6 {
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: red;
}

.text-box h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
    color: #fcfafa;
    line-height: 1.3;
}

.text-box p {
    margin: 0;
    font-size: 13px;
  color: #fc791A;
}

.text-box button {
    margin-top: 20px;
    padding: 13px 25px;
    background-color: #fc791A;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 19px;
    font-weight: bold;
}

.text-box button:hover {
    background-color:red;
    border: 1px solid red;
}

.text-box button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

.shape {
    position: absolute;
    top: 5px;
    right: 70px;
    width: 90px;
    height: auto;
    z-index: 1;
     animation: shakeLeftRight 1.5s ease-in-out infinite;
    transform-origin: center;
}
@keyframes shakeLeftRight {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);  
    }
    75% {
        transform: translateX(10px);   
    }
}
.img-1:hover .shape {
    animation: 0.5s ease-in-out infinite;
}
.container{
    margin: 90px ;
    padding: 70px;
    background-color:white;
}
.container .text-box button{
     margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 40px;
}
.text-b{
    margin: 0px 200px 45px 200px;
    font-size: 25px;
    color: #5c6574;
  text-align: center;
}
.food h2{
     text-align: center; 
    margin: 0px 200px 45px 200px;
}
.food-itemsS{
    margin: 100px auto ;
     width: 95%;
     display: flex;
    overflow-x: auto;
     
}
.food-itemsS::-webkit-scrollbar{ 
     display: none;
}
.itemS{
     display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 1em; 
    
    padding-right: 1em; 
    margin-left: 20px;
     margin-right: 20px;
}
.item1S{ 
   
    height: 6em;
    width: 200px;
    padding: 1em;
    background-color: rgb(255, 255, 255);
    font-size: 3rem;
    border-radius: .4em;
    text-align: center;
    align-content: center;
    color: #010f1c;
    line-height: 35px; 
    flex-wrap: wrap;
 }
 .food-itemsS:hover .item1S {
    background-color:rgb(4, 4, 34);
 }
 .food-itemsS :hover .item1S h3{
    color: white;
 }
.food-itemsS:hover .dollers{
      color: red;
    font-size:30px;
}
 .background {
    opacity: 0.85;
      background-image: url("offerBG1_1.jpg");
    width: 94%;
    height: 600px;

    background: linear-gradient(
        to right,
        #000000 0%,      
        #292727 40%,    
        #fc791A 100%     
    );

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 80px; 
}
.pizza img {
    width: 600px;
    height: auto;
      animation: LeftRight 2s ease-out infinite;
} 
@keyframes LeftRight {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-20px);  
    }
    75% {
        transform: translateX(20px);   
    }
}
.pizza {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    gap: 140px;

}
 .pizza-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.pizza-contan h6{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 105px;
    font-style: normal;
    font-weight: 900;
    font-family: system-ui, -apple-system, Roboto,  sans-serif
}
.order-button button {
    margin-top: 20px;
    padding: 13px 25px;
    background-color:#fc791A;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 19px;
    font-weight: bold;
}
.order-button button:hover {
    background-color:red;
    border: 1px solid red;
}
.order-button button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
 
.menu-S{
    background-color: #ffffff;
    margin-top: 96px;
    margin: 120px;
    padding: 30px;
    text-decoration: none;
    border-radius: 15px;
}
.menus1{
    text-decoration: none;
 
}
.menu-div{
    text-decoration: none;
       text-align: center;
    justify-content: center;
    border-bottom: 1px solid rgb(180, 179, 179);
    margin-left: 70px;
    margin-right: 70px;
}
.menu-img{
    height: 40px;
    width: 40px;
}

.menu-list li a {
    list-style: none;
    display: flex;
    flex-direction: row;   
    align-items: center;
    gap: 20px;
}
.menu-list li h6{
    padding: 5px 24px 0px 0px;
    margin: 10px 0px;
     font-size: 20px;
     font-weight: 600;
     font-style: normal;
     line-height: 30px;
     margin-right: 24px;
     border-right: 1px dashed rgb(194, 191, 191);
     
}

.menu-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 30px 5px;
    justify-content: center; 
    padding: 0;
    margin: 0 auto;
    text-transform: capitalize;
    margin-bottom: 35px;
}
.menu-list li:nth-child(4) {
    grid-column: 2 / 3; 
}


.true-menu{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 30px;
   padding: 30px;
}

.menu-5star{
   display: grid;
   grid-template-columns: 120px auto;
   gap: 15px;
   align-items: center;
   margin-top: 20px;
}

.menu-4s img{
   width: 100%;
   height: auto;
}

.menu-3s h6{
   text-align: right;
}
.menu-3s h6{
    
  text-align: right;
  color: var(--title);
    font-family: var(--title-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: -35px;
}
.menu-3s p{
    color:rgb(87, 85, 85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -0.3em;
     display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
     margin: 0px;
    transition: all 0.4s ease-in-out;
}
.menu-3s a{
     text-decoration: none;
}
.menu-3s a h3{
    font-size: 21px;
    line-height: 31px;
    margin-bottom: 0px;
    cursor: pointer;
}
.menu-3s h3{
    color: rgb(5, 5, 5);
}
.menu-5star  h3:hover {
    color: red;
    font-size: 25px;
 }
 .chefe-container{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
 }


.chefe-1 {
    margin: 10px;   
    text-align: left;
}

.chefe-img img {
    margin-left: 70px;
    width: 65%;
    height: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 0px;
    border-bottom:rgb(255, 123, 0) 10px solid;
    margin-bottom: -200px;
    
}
.chefe-text{
    background-color: white;
    width: 380px;
    height: 300px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

     display: flex;                 
    flex-direction: column;     
    justify-content: end;       
    align-items: center;         
    padding-right: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.chefe-text h3 {
    font-size: 28px;
    font-weight: 900;
    margin: 0;
}
.chefe-text p {
    color: gray;
    font-size: 16px;
    margin: 5px 0 0;
}
.chefe-text a{
    text-decoration: none;
    color: #010f1c;
}
.chefe-text a:hover{
    color: red;
}
.footer {
  background-color: rgb(255, 123, 0);
  color: white;
  padding: 40px 20px 0;
}


.footer-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}


.footer-box {
  background-color:rgb(255, 123, 0);
  padding: 20px;
  width: 250px;
}

.footer-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-box a{
    text-decoration: none;
    color: #ffffff;
}
.footer-box ul li {
  margin-bottom: 8px;
  font-size: 15px;
 
}
.footer-box li:hover{
 text-transform: capitalize;
 color: #440E03;
}

.footer-bottom {
    width: 100%;
  border-top: 1px solid #444;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 900;
  color: white;
  background-color: red;
}


html {
    scroll-behavior: smooth; 
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color:  #fc791A;     
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 10px;
    z-index: 9999;
}


.contact-cards {
    margin-top: 100px;
    margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
  background: #fdf8f3;
}

.card {
    width: 230px;
    height: 213px;
  background: #fff;
  border: 2px solid #ffb6c1;
  border-radius: 15px;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  
}

.card .icon {
  width: 60px;
  height: 60px;
  border: 2px solid #ffb6c1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  margin: 0 auto 15px;
  color: #ff5a6e;
  background-color: #fc791A;
}

.card h3 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 17px;
  line-height: 20px;
  color: #555;
}
.card h3:hover{
    color: red;
    font-size: 29px;
}
.card p:hover{
    color: #ff5a6e;
    font-size: 19px;
}


.f-logo{

    width: 200PX;
     height: 70PX;
   
    padding: 10px;
} 




